USE [master]
GO
/****** Object:  Database [V_League]    Script Date: 11-Sep-20 10:25:42 AM ******/
CREATE DATABASE [V_League]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'V_League', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER_1\MSSQL\DATA\V_League.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'V_League_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER_1\MSSQL\DATA\V_League_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [V_League].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [V_League]
GO
/****** Object:  Table [dbo].[BANGXH]    Script Date: 11-Sep-20 10:25:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGXH](
	[MACLB] [varchar](5) NULL,
	[NAM] [int] NULL,
	[VONG] [int] NULL,
	[SOTRAN] [int] NOT NULL,
	[THANG] [int] NOT NULL,
	[HOA] [int] NOT NULL,
	[THUA] [int] NOT NULL,
	[HIEUSO] [varchar](5) NOT NULL,
	[DIEM] [int] NOT NULL,
	[HANG] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAULACBO]    Script Date: 11-Sep-20 10:25:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAULACBO](
	[MACLB] [varchar](5) NOT NULL,
	[TENCLB] [nvarchar](100) NOT NULL,
	[MASAN] [varchar](5) NOT NULL,
	[MATINH] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACLB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAUTHU]    Script Date: 11-Sep-20 10:25:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAUTHU](
	[MACT] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[VITRI] [nvarchar](20) NOT NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](200) NULL,
	[MACLB] [varchar](5) NOT NULL,
	[MAQG] [varchar](5) NOT NULL,
	[SO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HLV_CLB]    Script Date: 11-Sep-20 10:25:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLV_CLB](
	[MAHLV] [varchar](5) NOT NULL,
	[MACLB] [varchar](5) NOT NULL,
	[VAITRO] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHLV] ASC,
	[MACLB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HUANLUYENVIEN]    Script Date: 11-Sep-20 10:25:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HUANLUYENVIEN](
	[MAHLV] [varchar](5) NOT NULL,
	[TENHLV] [nvarchar](100) NOT NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](200) NULL,
	[DIENTHOAI] [nvarchar](20) NULL,
	[MAQG] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHLV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUOCGIA]    Script Date: 11-Sep-20 10:25:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUOCGIA](
	[MAQG] [varchar](5) NOT NULL,
	[TENQG] [nvarchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAQG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANVD]    Script Date: 11-Sep-20 10:25:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANVD](
	[MASAN] [varchar](5) NOT NULL,
	[TENSAN] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TINH]    Script Date: 11-Sep-20 10:25:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINH](
	[MATINH] [varchar](5) NOT NULL,
	[TENTINH] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MATINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANDAU]    Script Date: 11-Sep-20 10:25:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANDAU](
	[MATRAN] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NAM] [int] NOT NULL,
	[VONG] [int] NOT NULL,
	[NGAYTD] [datetime] NOT NULL,
	[MACLB1] [varchar](5) NOT NULL,
	[MACLB2] [varchar](5) NOT NULL,
	[MASAN] [varchar](5) NOT NULL,
	[KETQUA] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MATRAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
